name: workflows collections CI

on:
  push:
    branches: 
    - DevOps

jobs:
  usermanagement-workflow:
    uses: niranjanmaradapu/usermanagement/.github/workflows/usermanagement.yml@DevOps
    secrets:
      access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  