# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: DevOps
#  pull_request:
#    branches: [ master ]

jobs:
  call-workflow1:
    uses: https://github.com/niranjanmaradapu/AppUI/blob/206b1b202a58b0141455749e5ebc8f7d8ca3a1ce/.github/workflows/app-ui.yml@DevOps
  call-workflow2:
    uses: https://github.com/niranjanmaradapu/usermanagement/blob/c7d16b831807aa8ebc194edab32867470d475316/.github/workflows/usermanagement.yml@DevOps 
    
  build:

    runs-on: ubuntu-latest

#    strategy:
#      matrix:
#        node-version: [12.x, 14.x, 16.x]
#        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

#    steps:
#    - uses: actions/checkout@v3
#    - name: Use Node.js ${{ matrix.node-version }}
#      uses: actions/setup-node@v3
#      with:
#        node-version: ${{ matrix.node-version }}
#        cache: 'npm'
#    - run: npm ci
#    - run: npm run build --if-present
#    - run: npm test
