name: workflows collections CI

on:
  push:
    branches: 
    - DevOps

jobs:
  usermanagement-workflow:
    uses: niranjanmaradapu/usermanagement/.github/workflows/usermanagement.yml@DevOps
    secrets: inherit

  